NODE_ENV=dev
MONGODB_DEV=mongodb://localhost/sme
MONGODB_TEST=mongodb://localhost/sme-test
MONGODB_PROD=string_atlas
JWTHASH=123
LINKEDIN_CLIENT_ID=123
LINKEDIN_CLIENT_SECRET=123
LINKEDIN_STATE=anystring
LINKEDIN_URL_CALLBACK_URLENCODE=http%3A%2F%2Flocalhost%3A5000%2Fauth%2Flinkedin%2Fcallback
LINKEDIN_URL_CALLBACK=http://localhost:5000/auth/linkedin/callback